<p>
  <%= comment.body %>
</p>

<p class="text-muted">
  Date: <%= comment.user.created_at.to_date %> <br>
  Email: <%= comment.user.email %> 
</p>

<p>
  <%= link_to 'Delete', [comment.article, comment], 
                        method: :delete, class: "btn btn-primary" %>
</p>
<hr class="my-5">