<section>
  <div class="container">
    <h1 class="mt-5">All articles</h1>

    <% @articles.each do |article| %>
      <hr>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p><%= truncate(article.text, length: 120) %></p>

      <% if user_signed_in? && current_user.admin == true %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>

  </div>
</section>

