<div class="container my-5">
  <div class="shadow p-5 mb-5">

    <h2><%= @article.title %></h2>

    <p class="lead"> <%= @article.text %></p>
  </div>

  <% if @article.comments.present? %>
    <%= render @article.comments %>
    
    <h4>Add a comment:</h4>
  <% else %>
    <p>No comments yet..</p>
  <% end %>
  <%= render 'comments/form' %>
</div>
