<div class="container my-5">
  <h4>
    <%= @article.title %>
  </h4>

  <p>
    <%= @article.text %>
  </p>
  <hr>

  <% if @article.comments.present? %>
    <%= render @article.comments %>
    
    <h4>Add a comment:</h4>
  <% else %>
    <p>No comments yet..</p>
  <% end %>
  <%= render 'comments/form' %>
</div>
