<div class="container">
  <h2 class="my-3">Lorem, ipsum dolor.</h2>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit earum quod maxime cumque labore, non adipisci pariatur dolorum nihil itaque.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nulla cupiditate possimus voluptate facere eligendi!</p>
  <ul>
    <li>Lorem, ipsum.</li>
    <li>Suscipit, dicta?</li>
    <li>Est, dolorum.</li>
  </ul>
</div>
