<section class="my-5">
  <div class="container">
    <h2>Привет!</h2>
    <p class="lead">Здесь можно найти интересные статьи о разработке на фреймворке Ruby on Rails.</p>
    <p>Если ты:</p>
    <ul>
      <li>Смелый</li>
      <li>Ловкий</li>
      <li>Умелый</li>
    </ul>
    <%= link_to "Рельсы тебя зовут!", articles_path, class: "btn btn-danger" %>
  </div>
</section>