@import "bootstrap";

body {
  padding-top: 56px;
  color: #1c1c1c;
}

A:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: bold;
}

.navbar {
  background-color: #1c1c1c;

  .navbar-brand {
    font-weight: bold;
  }
}

.jumbotron {
  padding: 200px 0;
  background: url('bg.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  margin-bottom: 0;
}

.alert {
  padding: 0;
}